
<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120">
                <span class="blue bolder"></span>
                 @DateTime.Now.Year 
            </span>
        </div>
    </div>
</div>