@{
    var lstnotifications = LMSSoft_Library.Controllers.HomeController.GetNotificationsList(Session["UserType"].ToString(), Session["UserId"].ToString());
}
<div id="navbar" class="navbar navbar-default   ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <h1 style="color:#fff;">Library Management System</h1>
        </div>
        <div class="navbar-header pull-left">

        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">

            <ul class="nav ace-nav">

                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <i class="fa fa-bell" style="padding-right: 30px; font-size: 25px; padding-top: 18px; color: #fff;">@lstnotifications.Count()</i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li class="divider"></li>
                        @{
                            foreach (var item in lstnotifications)
                            {
                                <li style="padding-left:10px; line-height:15px;">
                                    * @item
                                </li>
                            }
                        }
                    </ul>
                </li>


                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <i class="fa fa-user" style="font-size: 25px; padding-top: 18px; color: #fff;"></i>
                        <div class="user-info">
                            <h4>Welcome<br> @HttpContext.Current.Session["Loginname"].ToString() </h4>

                        </div>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("SignOut","Home")">
                                <span class="user-info">
                                    <small>Logout</small>
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>