@{
    ViewBag.Title = "Access Denied";
    <style>
        .dvErrBody {
            margin: 30px;
        }

        .dvErrTitle {
            font-size: 25px;
            font-weight: bold;
            color: #FF5B5B;
            margin-bottom: 5px;
        }

        .dvUserTitle {
            font-size: 15px;
            color: #4F1F6E;
            font-style: italic;
        }

        .dvErrMsg {
            text-transform: none;
            color: #0b0b0b;
        }
    </style>
}
<div class="container">
    <div class="dvErrBody">
        <div class="dvErrTitle">
            Access Denied.
        </div>
        <hr />
        <div class="dvErrMsg">
            <br />
            You are not authorized to view this page.Please Contact your admnistrator.<br />
            <br />
            Thank You.
        </div>
        <hr />
    </div>
</div>
